<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<appender name="ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/online_bsn/online_bsn.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/test/springMvc.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/online_bsn/online_bsn_info.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/online_bsn/online_bsn_warn.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/online_bsn/online_bsn_error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[online_bsn] %p %d [%t] %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	<!-- <appender name="TASK-JOB" class="org.apache.log4j.DailyRollingFileAppender"> 
		<param name="File" value="/log/online_bsn/referral_job_info.log" /> 
		<param name="Append" value="true" /> <param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" 
		/> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="[task_job] %p %d [%t] %C{1}.%M(%L) | %m%n" /> </layout> </appender> -->

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="true" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ALL" />
		<appender-ref ref="INFO" />
	</appender>

	<logger name="net">
		<level value="error" />
	</logger>
	<logger name="org.apache">
		<level value="INFO" />
	</logger>
	<logger name="org.hibernate">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	<logger name="org.springframework.jdbc.core">
		<level value="DEBUG" />
	</logger>
	<logger name="org.displaytag">
		<level value="error" />
	</logger>
	<logger name="net.sf.ehcache">
		<level value="error" />
	</logger>
	<logger name="com.mchange.v2">
		<level value="error" />
	</logger>
	<logger name="com.danga.MemCached">
		<level value="error"></level>
	</logger>
	<logger name="java.sql">
		<level value="DEBUG"></level>
	</logger>
	<logger name="org.mybatis">
		<level value="DEBUG"></level>
	</logger>
	<logger name="org.apache.ibatis">
		<level value="DEBUG"></level>
	</logger>

	<!-- <logger name="com.zhimabang.job"> <level value="INFO" /> <appender-ref 
		ref="ASYNC_REFERRAL_JOB" /> </logger> -->

	<logger name="com.sixone">
		<level value="DEBUG"></level>
	</logger>



	<!-- <appender name="ASYNC_TASK_JOB" class="org.apache.log4j.AsyncAppender"> 
		<param name="locationInfo" value="true"/> <appender-ref ref="TASK-JOB" /> 
		</appender> -->

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="ASYNC" />

	</root>

</log4j:configuration>
